<section class="parallax container-fluid img-responsive" id="publicSearch">
    <div class="divider-new">Try it Out!</div>
    <div layout="row" layout-sm="column" layout-align="center center" layout-wrap class="md-inline-form">
        <md-input-container md-no-float class="md-block">
            <label>Movie name</label>
            <input ng-model="movietitle">
        </md-input-container>
        <a class="btn-floating btn-large waves-effect waves-light blue" ng-click="search(movietitle)"><i class="fa fa-search fa-lg"></i></a>
    </div>
    <div class="md-padding" layout="row" layout-xs="column" layout-align="center center" flex="33" layout-wrap>
        <md-card ng-repeat="movie in movies.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="blue-grey darken-1">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead white-text" flex>{{movie.original_title}}</span>
                </md-card-title-text>
            </md-card-title>
            <img class = "img-responsive"  style="height: 300px;width: 300px;display: block;margin: 0 auto" ng-src="{{movie.poster_path}}" class="md-card-image" alt="Washed Out">
            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-icon-button" aria-label="Details">
                    <md-icon><a ng-click="details(movie.id)"><i class="fa fa-info-circle fa-lg"></i></a></md-icon>
                </md-button>
            </md-card-actions>
            <md-card-actions layout="row" layout-align="center center">
                <div ng-init="x = (movie.vote_average | number:0)">
                    <uib-rating ng-model="x" max="10" read-only="true" style="color: gold" state-on="'glyphicon glyphicon-star'" state-off="'glyphicon glyphicon-star-empty'" aria-labelledby="custom-icons-1"></uib-rating>
                    <b>(<i>Rating:</i> {{x}})</b>
                </div>
            </md-card-actions>
        </md-card>
    </div>
    <div layout="row" layout-align="center center">
        <uib-pagination ng-hide="available" total-items="totalItems"
                        ng-model="currentPage"
                        max-size="3"
                        items-per-page="itemsPerPage">
        </uib-pagination>
    </div>
</section>