<div id="page-wrapper">
    <!--<div class="container-fluid">-->
    <!--<div class="row">-->
    <div class="col-md-10 col-md-offset-2 main">
        <md-content>
            <md-tabs md-selected="2" md-align-tabs="top">
                <md-tab>
                    <a href="#/profile"><md-tab-label>Your Profile</md-tab-label></a>
                </md-tab>
                <md-tab >
                    <a href="#/genres"><md-tab-label>Genres</md-tab-label></a>
                </md-tab>
                <md-tab>
                    <a href="#/friends"><md-tab-label>Friends</md-tab-label></a>
                </md-tab>
            </md-tabs>
        </md-content>
        <div ng-controller="FriendsController" layout="column" ng-cloak class="md-inline-form" style="opacity: 0.9">

        </div>
        <!--</div>-->
    </div>
    <!--</div>-->
</div>