<div id="page-wrapper">
        <!--<div class="row">-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <md-content>
                <md-tabs  md-selected="1" md-align-tabs="top">
                    <md-tab>
                        <a href="#/profile/{{currentusr._id}}"><md-tab-label>Your Profile</md-tab-label></a>
                    </md-tab>
                    <md-tab >
                        <a href="#/genres"><md-tab-label>Genres</md-tab-label></a>
                    </md-tab>
                    <md-tab>
                        <a href="#/friends/{{currentusr._id}}"><md-tab-label>Friends</md-tab-label></a>
                    </md-tab>
                </md-tabs>
            </md-content>
            <div class="card-panel">
            <div class="md-padding" ng-cloak>
                <fieldset class="standard" >
                    <legend>Your Favorite Genres:</legend>
                    <div layout="row" layout-wrap flex>
                        <div flex="50" ng-repeat="genre in genres">
                            <md-checkbox class="md-primary" md-no-ink ng-checked="exists(genre, selected)" ng-click="toggle(genre, selected)">
                                {{ genre }}
                            </md-checkbox>
                        </div>
                    </div>
                </fieldset>
                <div layout="row" layout-align="center center">
                    <md-button ng-disabled="!currentusr" class="md-raised md-primary" ng-click="update(currentusr._id,currentusr)">Update</md-button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>