<div id="page-wrapper">
    <!--<div class="container-fluid">-->
    <!--<div class="row">-->
    <div class="col-md-10 col-md-offset-2 main">
        <md-content>
            <md-tabs md-selected="0" md-align-tabs="top">
                <md-tab>
                    <a href="#/currentEvents"><md-tab-label>Current Events</md-tab-label></a>
                </md-tab>
                <md-tab >
                    <a href="#/eventDetails"><md-tab-label>Event Details</md-tab-label></a>
                </md-tab>
                <md-tab>
                    <a href="#/newEvent"><md-tab-label>New Event</md-tab-label></a>
                </md-tab>
            </md-tabs>
        </md-content>
        <div class="well" style="opacity: 0.9">
            <table class="table table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th>Movie Name</th>
                    <th>Hosted By</th>
                    <th>Going?</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#/eventDetails">Avatar</a></td>
                    <td>Bob</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><a href="#/eventDetails">Martian</a></td>
                    <td>Moe</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="#/eventDetails">Harry Potter</a></td>
                    <td>Dooley</td>
                    <td>Yes</td>
                </tr>
                </tbody>
            </table>

        </div>
        <!--</div>-->
    </div>
    <!--</div>-->
</div>