<div id="page-wrapper">
    <!--<div class="container-fluid">-->
    <!--<div class="row">-->
    <div class="col-md-10 col-md-offset-2 main">
        <md-content>
            <md-tabs md-selected="0" md-align-tabs="top">
                <md-tab>
                    <a href="#/currentEvents"><md-tab-label>Current Events</md-tab-label></a>
                </md-tab>
                <md-tab >
                    <a href="#/eventDetails"><md-tab-label>Event Details</md-tab-label></a>
                </md-tab>
                <md-tab>
                    <a href="#/newEvent"><md-tab-label>New Event</md-tab-label></a>
                </md-tab>
            </md-tabs>
        </md-content>
        <div class="well" style="opacity: 0.9">
            <table class="table table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                </tbody>
            </table>

        </div>
        <!--</div>-->
    </div>
    <!--</div>-->
</div>