<div id="page-wrapper">
    <!--<div class="container-fluid">-->
    <!--<div class="row">-->
    <div class="col-md-10 col-md-offset-2 main">
        <md-content>
            <md-tabs md-selected="0" md-align-tabs="top">
                <md-tab>
                    <a href="#/currentEvents"><md-tab-label>Current Events</md-tab-label></a>
                </md-tab>
                <md-tab >
                    <a href="#/eventDetails"><md-tab-label>Event Details</md-tab-label></a>
                </md-tab>
                <md-tab>
                    <a href="#/newEvent"><md-tab-label>New Event</md-tab-label></a>
                </md-tab>
            </md-tabs>
        </md-content>
        <div class="well" style="opacity: 0.9">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th class="text-center">Movie Name</th>
                    <th class="text-center">Hosted By</th>
                    <th class="text-center">Going?</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center"><a href="#/eventDetails/{{eventId}}">Avatar</a></td>
                    <td class="text-center">Bob</td>
                    <td>
                        <md-radio-group ng-model="event.going" layout="row" layout-align="center center">
                            <md-radio-button value="Yes"> Yes </md-radio-button>
                            <md-radio-button value="No"> No </md-radio-button>
                        </md-radio-group>
                    </td>
                </tr>
                </tbody>
            </table>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="updateEvent(event)">SUBMIT</md-button>
            </div>
        </div>
        <!--</div>-->
    </div>
    <!--</div>-->
</div>