<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
    <!--<ul class="nav navbar-nav side-nav bold-700">-->
<div class="col-sm-3 col-md-2 sidebar sidebar-contents">
    <ul class="nav nav-sidebar">
        <li>
            <a href="#/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
        </li>
        <li>
            <a href="#/search"><i class="fa fa-fw fa-film"></i> Search</a>
        </li>
        <li>
            <a href="#/currentEvents"><i class="fa fa-fw fa-edit"></i> Events</a>
        </li>
        <li>
            <a href="#/admin"><i class="fa fa-fw fa-user-secret"></i> Admin Dashboard</a>
        </li>
        <li>
            <a href="#/favorites"><i class="fa fa-fw fa-desktop"></i> My Space</a>
        </li>
    </ul>
</div>
<!--</div>-->
<!-- /.navbar-collapse -->