<h1 class="page-header">Profile</h1>
<div class="form-horizontal" ng-controller="ProfileController" ng-form name="profileForm">
    <div class="form-group">
        <label for="inputusername" class="col-sm-2 control-label">Username: </label>
        <div class="col-sm-10">
            <input type="text" ng-model = "currentuser.username" class="form-control" id="inputusername" placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">First Name:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="currentuser.firstName" class="form-control" id="firstname" placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="currentuser.lastName" class="form-control" id="lastname" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-10">
            <input type="password" ng-model = "currentuser.password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
    <div ng-class="validate(currentuser,vpassword)">
        <label for="verifypswd" class="col-sm-2 control-label">Verify Password:</label>
        <div class="col-sm-10">
            <input type="password" ng-model = "vpassword" class="form-control" id="verifypswd" placeholder="Password">
            <!--<span class="help-block">Password Does not Match!</span>-->
        </div>
    </div>
    <div class="form-group has-feedback">
        <label for="inputemail" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
            <input type="text" ng-model = "currentusr.emails" name="email" class="form-control" id="inputemail" placeholder="example@xyz.com" ng-list ng-pattern="regex">
            <span class="glyphicon glyphicon-ok glyplus form-control-feedback" aria-hidden="true" ng-show="!profileForm.email.$error.pattern && currentusr.hasOwnProperty('emails')&& currentusr.emails!=''"></span>
            <span class="glyphicon glyphicon-remove glyremove form-control-feedback" aria-hidden="true" ng-show="profileForm.email.$error.pattern"></span>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled= hide class="btn btn-primary btn-md btn-block" ng-click="update(currentuser)">Update</button>
        </div>
    </div>
</div>