<div id="page-wrapper">
    <div class="container-fluid">
        <!--<div class="row">-->
        <div class="col-md-10 col-md-offset-2 main">
            <md-content>
                <md-tabs  md-selected="1" md-align-tabs="top">
                    <md-tab>
                        <a href="#/search"><md-tab-label>Search</md-tab-label></a>
                    </md-tab>
                    <md-tab >
                        <a href="#/detail/:imdbID"><md-tab-label>Details</md-tab-label></a>
                    </md-tab>
                </md-tabs>
            </md-content>
            <div class="well">
            <div class="row">
                <h2 style="text-align: center">{{movie.Title}}</h2>
                <div class="col-md-6">
                    <img ng-src="{{movie.Poster}}" onerror="this.src='http://www.filmfodder.com/reviews/images/poster-not-available.jpg'" style="height: 300px;display: block;margin: 0 auto" class="img-responsive"/>
                    <br>
                    <div layout = "row" layout-align="center center">
                        <md-button class="md-icon-button" aria-label="Favorite" ng-disabled="!currentusr">
                            <md-icon  ng-click="addFavorite(movie)" class="md-icon-button md-accent"><i ng-class="{'fa fa-heart-o fa-lg':!movie.favorite,'fa fa-heart fa-lg':movie.favorite}"></i></md-icon>
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center center">
                        <uib-rating ng-model="rating" style="color: gold" max="10" ng-change="rateMovie(movie.imdbID,rating)"read-only="currentusr==null" state-on="'fa fa-star fa-lg'" state-off="'glyphicon glyphicon-star-empty fa-lg'" aria-labelledby="custom-icons-1"></uib-rating>
                        <b>(<i>Rating:</i> {{rating}}/10)</b>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Plot</h3>
                    <p>
                        {{movie.Plot}}
                    </p>
                    <h4>Director</h4>
                    <p>
                        {{movie.Director}}
                    </p>

                    <h4>Actors</h4>

                    <ul>
                        <li ng-repeat="actorName in movie.Actors.split(',')">
                            {{actorName}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Awards</h4>
                    <p>
                        {{movie.Awards}}
                    </p>
                    <h4>Genre:</h4>
                    <ul>
                        <li ng-repeat="genre in movie.Genre.split(',')">
                            {{genre}}
                        </li>
                    </ul>
                    <h4>Release Year:<p>{{movie.Released}}</p></h4>
                    <h4>Rated:<p>{{movie.Rated}}</p></h4>
                </div>
            </div>
                <div class="row">
                    <h4 style="text-align: center">Trailer</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" controls="true" frameborder="0" src="{{movie.trailer}}" allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-left: 40px">
                    <div class="col-md-6">
                        <h5>Users who like it:</h5>
                        <ul>
                            <li ng-repeat="user in users">
                                <h6><a href="#/profile/{{user._id}}">{{user.username}}</a></h6>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                    <h5>Reviews: </h5>
                    <md-input-container class="md-block" md-padding>
                        <label>Review</label>
                        <textarea ng-model="movie.review" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        <md-icon  class="md-primary md-raised md-icon-button" ng-click="addReview(movietitle)" aria-label="review"><i class="fa fa-pencil-square-o fa-lg"></i></md-icon>
                    </md-input-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>