<div id="page-wrapper">
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <md-content>
                <md-tabs  md-selected="0" md-align-tabs="top">
                    <md-tab>
                        <a href="#/search"><md-tab-label>Search</md-tab-label></a>
                    </md-tab>
                    <md-tab >
                        <md-tab-label>Details</md-tab-label>
                    </md-tab>
                </md-tabs>
            </md-content>
            <div class="well" style="background-color: rgba(96, 125, 139, 0.7)">
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="md-inline-form" ng-if="searchType == 'movie'">
                    <h5>I would like to search for </h5>
                    <md-input-container md-no-float class="md-block">
                        <label>Movie name</label>
                        <input ng-model="movietitle">
                    </md-input-container>
                    <a class="btn-floating btn-large waves-effect waves-light blue" ng-click="search(movietitle)"><i class="fa fa-search fa-lg"></i></a>
                    <!--<md-button  class="md-primary md-raised md-icon-button" ng-click="search(movietitle)" aria-label="Search"><i class="fa fa-search fa-lg"></i></md-button>-->
                </section>
                <h5 class="text-center" ng-if="searchType == 'similar'">Showing movies similar to <b>{{similarTitle}}</b></h5>
                    <div class="md-padding" layout="row" layout-xs="column" layout-align="center center" flex="33" layout-wrap>
                            <md-card ng-repeat="movie in movies.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="blue-grey darken-1">
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-subhead white-text" flex>{{movie.original_title}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <img class = "img-responsive"  style="height: 300px;width: 300px;display: block;margin: 0 auto" ng-src="{{movie.poster_path}}" class="md-card-image" alt="Washed Out">
                                <md-card-actions layout="row" layout-align="center center">
                                    <md-button class="md-icon-button" aria-label="Details">
                                    <md-icon><a href="#/detail/{{movie.id}}"><i class="fa fa-info-circle fa-lg"></i></a></md-icon>
                                    </md-button>
                                </md-card-actions>
                                    <md-card-actions layout="row" layout-align="center center">
                                        <div ng-init="x = (movie.vote_average | number:0)">
                                            <uib-rating ng-model="x" max="10" read-only="true" style="color: gold" state-on="'glyphicon glyphicon-star'" state-off="'glyphicon glyphicon-star-empty'" aria-labelledby="custom-icons-1"></uib-rating>
                                            <b>(<i>Rating:</i> {{x}})</b>
                                        </div>
                                </md-card-actions>
                        </md-card>
                        </div>
                <div layout="row" layout-align="center center">
                    <uib-pagination ng-hide="available" total-items="totalItems"
                                    ng-model="currentPage"
                                    max-size="5"
                                    boundary-links="true"
                                    items-per-page="itemsPerPage">
                    </uib-pagination>
                </div>
                </div>
            </div>
            <!--</div>-->
        </div>