<!--Navigation-->
<nav class="navbar blue navbar-fixed-top z-depth-1" role="navigation" ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-light navbartitle" href="#/home">Cinephilia</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right top-nav">
                <li ng-hide="currentusr"><a href="" ng-click="linkTo('#account')" class="waves-effect waves-light">Register/Login<span class="sr-only">(current)</span></a></li>
                <li ng-show="currentusr" class="dropdown">
                    <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{currentusr.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/profile/{{currentusr._id}}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#/home" ng-click="reset()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <li ng-show="currentusr" class="visible-xs-block">
                    <a href="#/search"><i class="fa fa-fw fa-film"></i> Search</a>
                </li>
                <li ng-show="currentusr" class="visible-xs-block">
                    <a href="#/currentEvents"><i class="fa fa-fw fa-edit"></i> Events</a>
                </li>
                <li ng-show="currentusr.role == 'admin'" class="visible-xs-block">
                    <a href="#/admin"><i class="fa fa-fw fa-user-secret"></i> Admin Dashboard</a>
                </li>
                <li ng-show="currentusr" class="visible-xs-block">
                    <a href="#/favorites/{{currentusr._id}}"><i class="fa fa-fw fa-desktop"></i> My Space</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--/.Navigation-->
